.loginPage {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c1f6fd8e;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
}

.loginForm input {
  width: 50%;
  height: 40px;
  border: 1px solid #1e90ff;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

.btn-non {
  margin: 0;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.btn,
.loginForm a {
  width: 30%;
  height: 40px;
  margin-top: 15px;
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
