@media (min-width: 768px) {
  .title-form {
    font-size: 35px;
    width: auto;
  }

  .title-reserv {
    height: 55px;
  }

  .gap {
    gap: 30px;
  }

  .form-input {
    width: 280px;
    font-size: 17px;
    padding: 15px;
  }

  .form-submit {
    width: 280px;
    font-size: 17px;
    padding: 15px 0;
  }

  .reserv-desc {
    font-size: 24px;
  }

  .form-input::placeholder {
    font-size: 17px;
  }

  .experience-details {
    padding: 2rem 3rem 0 2rem;
  }

  .experience-image img {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .title-form {
    margin-bottom: 30px;
    width: auto;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .experience-details {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }

  .experience-image {
    width: 70%;
  }

  .experience-content {
    width: 30%;
  }

  .experience-extra-details {
    padding: 0 2rem;
  }

  .experience-included {
    width: 80%;
  }

  .footer-content {
    padding-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .form-cont {
    width: 70%;
  }

  .experience-extra-details {
    padding: 2rem;
  }
}

@media (min-width: 1378px) {
  .experience-image img {
    max-width: 700px;
  }
}
