@media (min-width: 768px) {
  .title-form {
    font-size: 35px;
    width: auto;
  }

  .title-reserv {
    height: 55px;
  }

  .gap {
    gap: 30px;
  }

  .form-input {
    width: 280px;
    font-size: 17px;
    padding: 15px;
  }

  .form-submit {
    width: 280px;
    font-size: 17px;
    padding: 15px 0;
  }

  .reserv-desc {
    font-size: 24px;
  }

  .form-input::placeholder {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .title-form {
    margin-bottom: 30px;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .form-cont {
    width: 70%;
  }
}
