.d-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reserv-back {
  background-color: #9dbf2096;
  background-blend-mode: color-burn;
}

.image-back {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/back.webp');
  background-size: 100% 100%;
}

.title-form {
  margin: 0;
  height: 45px;
  border-bottom: 2px solid #9dc320;
  color: #9dc320;
  font-size: 30px;
  width: 225px;
  text-align: center;
}

.title-reserv {
  height: auto;
}

.form-cont {
  width: 90vw;
  height: 70vh;
  backdrop-filter: blur(30px);
}

.form-input {
  border-radius: 15px;
  border-style: none;
  border-bottom: 2px solid #fff;
  padding: 10px;
  background-color: #96bf01b0;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.reserv-input {
  background-color: transparent;
  width: 220px;
}

.reserv-desc {
  color: #fff;
  font-size: 19px;
}

.form-submit {
  background-color: white;
  color: #9dbf20;
  font-weight: bolder;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
  width: 225px;
  font-size: 15px;
  text-decoration: none;
}

.form-input::placeholder {
  color: white;
  font-size: 15px;
}

.btn-cont {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 15px;
}

#message-error {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.color {
  color: #fff;
}
